#requestform
{ width: auto; float: none; }

TABLE.request TD.inline_label label
{ display: inline; }

#rightcol .roundpanel_210 h4 {
  height: 50px;
}
.formcol_double
{ float:left; width:43em; min-height:5em}